// Material Theming
//$mdc-theme-primary: #880e4f;
$mdc-theme-primary: #182870;
$mdc-theme-on-primary: #f55356;

//$mdc-typography-font-family: unquote('Fredoka One', cursive);

$mdc-typography-styles-headline1: (
  font-family: unquote("'Major Mono Display', monospace"),
);

$mdc-typography-styles-headline2: (
  font-family: unquote("'Questrial', sans-serif;")
);

$mdc-typography-styles-headline3: (
  font-family: unquote("'Major Mono Display', monospace"),
);

$mdc-typography-styles-body1: (
  font-family: unquote("'Questrial', sans-serif;"),
  font-size: 1.25rem,
  line-height: 2rem,
);
// $mdc-typography-styles-button: (
//  font-size: 14px,
//  font-weight: bold,
// );
// $mdc-typography-styles-headline6: (
//  font-size: 20px,
// );
// $mdc-shape-small-component-radius: 16px;

// Define theme variables before importing any MDC Web component styles
// $mdc-theme-primary: midnightblue;

// Import the styles for each MDC Web component
@import "@material/typography/mdc-typography";
@import "@material/button/mdc-button";

// Check out the MDC Web documentation for how to use MDC Sass mixins:
// https://github.com/material-components/material-components-web
// .foo-button {
//   @include mdc-button-ink-color(lightblue);
//   @include mdc-states(lightblue);
// }

body {
background: rgb(248,200,160);
background: linear-gradient(180deg, rgba(248,200,160,1) 25%, rgba(240,160,168,1) 100%);
  color: #182870;
}

.container {
  max-width: 720px;
  margin: auto;
  padding: 0 16px 32px;
}

// .mdc-typography--headline1 {
  
// }

// @media screen and (min-width: 300px) {
//   .mdc-typography--headline1  {
//     font-size: 2rem;
//   }
// }

.mdc-typography--headline1 {
  font-variant-caps: all-small-caps;
  margin-top: 56px;
}

@media (min-width:150px) {
  .mdc-typography--headline1 {
    font-size: 5rem;
    line-height: 4rem;
  }
  .mdc-typography--headline2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .mdc-typography--headline3 {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media (min-width:575px) {
  .mdc-typography--headline1 {
    font-size: 8rem;
    line-height: 6rem;
  }
  .mdc-typography--headline2 {
    font-size: 3.75rem;
    line-height: 3.75rem;
  }
  .mdc-typography--headline3 {
  font-size: 3rem;
  line-height: 3.125rem;
  }
}


.mdc-typography--headline2 {
  color: #00aa9a;
}

a {
  color: #f55356;
  font-weight: bold;
  text-decoration: none;
}

a.typeform-share {
  text-decoration: none;
}

.foo-button {
  margin: 24px auto;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	//padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}