<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer--middle-section">
    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">Let's Connect</h1>
      <ul class="mdl-mega-footer--link-list social-media-list">
        <li>
          <button class="mdl-button mdl-js-button mdl-button--accent">
            <i class="material-icons">message</i>&nbsp; Send me a message
          </button>
        </li>
      </ul>
    </div>
    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">Speaker Bio</h1>
      <ul class="mdl-mega-footer--link-list">
        <li>{{ site.description | escape }}</li>
      </ul>
    </div>

  </div>
  <div class="mdl-mega-footer--bottom-section">
    <div class="mdl-logo">
      More Information
    </div>
    <ul class="mdl-mega-footer--link-list">
      <li><a href="https://www.relay.fm/material"><i class="fa fa-podcast" aria-hidden="true"></i></a></li>
      <li><a href="http://hiyasmine.com/"> <i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
      <li>
        {% if site.twitter_username %}
        {% include icon-twitter.html username=site.twitter_username %}
        {% endif %}
      </li>
      <li>
        {% if site.linkedin_username %}
        {% include icon-linkedin.html username=site.linkedin_username %}
        {% endif %}
      </li>
    </ul>
  </div>
</footer>
</main>
</div>

<script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
