<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer--middle-section">
    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">Let's build wonderful things together.</h1>
      <ul class="mdl-mega-footer--link-list social-media-list">
        <li>
          <a class="typeform-share link mdl-button mdl-js-button mdl-js-ripple-effect" href="https://yasmine41.typeform.com/to/dOM41M" data-mode="1" target="_blank"><i class="material-icons">message</i> &nbsp;Send me a message</a>
        </li>
      </ul>
    </div>
    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">Speaker Bio</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><p>{{ site.description | escape }}</p></li>
      </ul>
    </div>

    <div class="mdl-mega-footer--drop-down-section" style="text-align: center;">
      <h1 class="mdl-mega-footer--heading">&nbsp;</h1>
      <img style="width: 50%;" src="assets/yas-do.png" alt="Yasdroid on a donut">
    </div>


  </div>
  <div class="mdl-mega-footer--bottom-section">
    <div class="mdl-logo">
      More Information
    </div>
    <ul class="mdl-mega-footer--link-list">
      <li id="tt1">
        <a href="https://www.relay.fm/material"><i class="fa fa-podcast" aria-hidden="true"></i></a>
      </li>

      <li id="tt2">
        <a href="http://hiyasmine.com/"> <i class="fa fa-tumblr" aria-hidden="true"></i></a>
      </li>

      <li id="tt3">
        <a href="https://twitter.com/YasmineEvjen"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>

      <li id="tt4">
        <a href="https://www.linkedin.com/in/YasmineEvjen"> <i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </li>
    </ul>

    <!--Tooltips-->
    <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--top" data-mdl-for="tt1">
      Listen to Material Podcast
    </div>
    <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--top" data-mdl-for="tt2">
      Read my blog
    </div>
    <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--top" data-mdl-for="tt3">
      Follow me on Twitter
    </div>
    <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--top" data-mdl-for="tt4">
      Connect on LinkedIn
    </div>
  </div>
</footer>

</main>
</div>

<script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<script src="https://use.fontawesome.com/45352b7477.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
  (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()
</script>
