<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-color--primary">

    <div class="mdl-layout__header-row">
      <h4><a style="font-weight: 500;" class="accent-color"  href="{{ "/" | relative_url}}">{{ site.title | escape }}</a></h4>
    </div>

    <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">

      {% if page.active == "home" %}
      <a href="/" class="mdl-layout__tab is-active">About</a>
      {% else %}
      <a href="/" class="mdl-layout__tab">About</a>
      {% endif %}

      {% if page.active == "work" %}
      <a href="/work" class="mdl-layout__tab is-active">Work</a>
      {% else %}
      <a href="/work" class="mdl-layout__tab">Work</a>
      {% endif %}

      {% if page.active == "contact" %}
      <a href="/contact" class="mdl-layout__tab mdl-cell--hide-desktop is-active">Contact</a>
      {% else %}
      <a href="/contact" class="mdl-layout__tab mdl-cell--hide-desktop">Contact</a>
      {% endif %}

      <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent typeform-share link" id="add" href="https://yasmine41.typeform.com/to/dOM41M" data-mode="1" target="_blank"><i class="material-icons">message</i>
        <span class="visuallyhidden">Send a Message</span>
      </a>
    </div>
  </header>
  <main class="mdl-layout__content">
