<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-color--primary">

    <div class="mdl-layout__header-row">
      <h4><a style="font-weight: 500;" class="accent-color"  href="{{ "/" | relative_url}}">{{ site.title | escape }}</a></h4>
    </div>

    <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
      <a href="#overview" class="mdl-layout__tab is-active">About</a>
      <a href="#work" class="mdl-layout__tab">Work</a>
      <a href="#contact" class="mdl-layout__tab mdl-cell--hide-desktop">Contact</a>
      <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent typeform-share link" id="add" href="https://yasmine41.typeform.com/to/dOM41M" data-mode="1" target="_blank"><i class="material-icons">message</i>
        <span class="visuallyhidden">Send a Message</span></a>
        <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
      </div>
    </header>
