<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <!-- OpenGraph -->
  <meta content="{{ site.title }}" property="og:site_name">
  {% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
  {% else %}
  <meta content="{{ site.title }}" property="og:title">
  {% endif %}
  {% if page.title %}
  <meta content="article" property="og:type">
  {% else %}
  <meta content="website" property="og:type">
  {% endif %}
  {% if page.description %}
  <meta content="{{ page.description }}" property="og:description">
  {% else %}
  <meta content="{{ site.description }}" property="og:description">
  {% endif %}
  {% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  {% endif %}
  {% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/about/" property="article:author">
  {% endif %}
  {% if page.image %}
  <meta content="/img/srcset/{{ page.image }}" property="og:image">
  {% else %}
  <meta content="{{ site.url }}/images/YasmineEvjen-square.jpg" property="og:image">
  {% endif %}
  {% if page.categories %}
  {% for category in page.categories limit:1 %}
  <meta content="{{ category }}" property="article:section">
  {% endfor %}
  {% endif %}
  {% if page.tags %}
  {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag">
  {% endfor %}
  {% endif %}

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@YasmineEvjen">
  <meta name="twitter:creator" content="@YasmineEvjen">
  {% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
  {% else %}
  <meta name="twitter:title" content="{{ site.title }}">
  {% endif %}
  {% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  {% endif %}
  {% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
  {% else %}
  <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}
  {% if page.image %}
  <meta name="twitter:image:src" content="{{ site.url }}/path/to/image/{{ page.image }}">
  {% else %}
  <meta name="twitter:image:src" content="{{ site.url }}/images/YasmineEvjen-square.jpg">
  {% endif %}


  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="/images/fav/android-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Yasmine Evjen">
  <link rel="apple-touch-icon-precomposed" href="images/fav/ios-desktop.png">

  <link rel="apple-touch-icon" sizes="57x57" href="/images/fav/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/fav/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/fav/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/fav/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/fav/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/fav/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/fav/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/fav/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/fav/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/images/fav/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/fav/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/fav/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/fav/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/fav/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">



  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.cyan-amber.min.css" />
  <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">

  {% include google-analytics.html %}

</head>
