<div class="mdl-layout__tab-panel is-active">
  <section class="section--center mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--12-col">
      <iframe id="typeform-full" height="500" style="border: none;" src="https://yasmine41.typeform.com/to/dOM41M"></iframe>
      <script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/share.typeform.com/embed.js"></script>
    </div>
    <br><br>
    <h6><a href="https://yasmine41.typeform.com/to/dOM41M" style="margin-top: 25px;" target="_blank">Having trouble viewing the form?</a></h6>
  </section>
</div>
