<div class="mdl-layout__tab-panel is-active" style="padding-top: 24px;">
  <section class="section--center mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--12-col">

      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet" style="text-align: center;">
          <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="yasmineevjen"><a class="LI-simple-link" href='https://www.linkedin.com/in/yasmineevjen?trk=profile-badge'>Yasmine Evjen</a></div>
        </div>
        <div class="mdl-cell mdl-cell--8-col">
          <section class="quote-section mdl-grid mdl-grid--no-spacing">
            <div class="mdl-card mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--3-col-phone quote-card">
              <div class="mdl-card__supporting-text">
                <h6>Yasmine is an insightful and talented UX designer. She has an excellent understanding of the ways that users of <span class="accent-color">Android and iOS</span> platforms differ, ensuring that her <span class="accent-color">interaction</span> designs for both platforms are appropriate and effective....
                  I recommend her highly. <span class="accent-color">If you have an opportunity to work with her, take it.</span></h6>
                </div>
              </div>
              <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--1-col-phone quote">
              </div>
            </section>

            <section class="quote-section mdl-grid mdl-grid--no-spacing">
              <div class="mdl-card mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--3-col-phone quote-card">
                <div class="mdl-card__supporting-text">
                  <h6>When it comes to solving problems, <span class="accent-color">Yasmine provides solutions that have substance</span>... A pleasure to work with, Yasmine has a great personality, bringing fun, laughter and joy to the workplace!</h6>
                </div>
              </div>
              <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--1-col-phone quote">
              </div>
            </section>

            <section class="quote-section mdl-grid mdl-grid--no-spacing">
              <div class="mdl-card mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--3-col-phone quote-card">
                <div class="mdl-card__supporting-text">
                  <h6>Yasmine is a delightful creative person. <span class="accent-color">She has a passion for technology and a wonderful ability to bring "stories" to life.</span> Yasmine was a pleasure to work with.</h6>
                </div>
              </div>
              <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--1-col-phone quote">
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
