<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}
<style>
.error-404 {
  margin: auto;
  max-width: 65%;
  padding-top: 24px;
}
img {
  max-width: 100%;
}

.material-icons {
  vertical-align: middle;
  font-weight: bold;
}
</style>

<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">

  {% include header.html %}

  <div class="error-404">
    {{ content }}
  </div>


  {% include footer.html %}

</body>

</html>
