---
layout: default
---

  <div class="mdl-layout__tab-panel is-active" id="about">
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
      <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
        <img style="width: 75%; border-radius: 100%; margin: 20px;" src="/images/YasmineEvjen-square.jpg" alt="Yasmine Evjen photo">
      </header>
      <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__supporting-text">
          <h4>Design Advocate | Product Storyteller</h4>
          <p>I’m a <strong><a href="https://twitter.com/i/moments/843697996822806528" target="_blank">Design Advocate</a></strong> at Google. Proponent of <a href="https://twitter.com/YasmineEvjen/status/629010100846342144" target="_blank">pen before pixel</a> and product storytelling. Prior to joining Google I was a UX designer, and host of <a href="https://www.relay.fm/material" target="_blank">Material Podcast</a>. Highlighted on Android Experts as "the person behind one of Android’s most powerful voices." <a href="http://hiyasmine.com/post/136360386865/2015-victories" target="_blank">I was once retweeted by former First Lady Michelle Obama</a>.</p>
          </div>



        </div>
      </section>
      <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
          <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <h4 class="mdl-cell mdl-cell--12-col">Featured</h4>
            <p>Interviewed and highlighted in various publications to discuss the future of mobile, Material Design and tips for crafting the best user experience.</p>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
              <div class="section__circle-container__circle"><img style="width: 100%; border-radius: inherit;" src="/assets/computer-world.png" alt="Computerworld logo"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
              <h5>How I Use Android: Material Podcast host and UX designer Yasmine Evjen</h5>
              <p>The person behind one of Android's most powerful voices powers up her personal phone to show us what's inside. <a href="http://www.computerworld.com/article/3164602/android/how-i-use-android-yasmine-evjen.html" target="_blank">Read at Computerworld</a></p>
            </div>

            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
              <div class="section__circle-container__circle"><img style="width: 100%; border-radius: inherit;" src="/assets/greenbot.jpeg" alt="Greenbot logo"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
              <h5>We asked developers what they think about Android apps on Chrome OS</h5>
              <p>While bringing the Play Store to Chromebooks presents a lot of opportunity, in some ways it means heading back to the drawing board. <a href="http://www.greenbot.com/article/3081976/android/we-asked-developers-what-they-think-about-android-apps-on-chrome-os.html" target="_blank">Read at Greenbot</a></p>
            </div>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
              <div class="section__circle-container__circle"><img style="width: 100%; border-radius: inherit;" src="/assets/twit.png" alt="TWIT logo"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
              <h5>Native vs. Progressive Web Apps and what the risks of living in the cloud are</h5>
              <p>The All About Android crew brought me on to discuss Native vs Progressive Web Apps.
                <a href="https://twit.tv/shows/all-about-android/episodes/293" target="_blank">Listen on This Week in Tech</a>.</p>
              </div>
              <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle"><img style="width: 100%; border-radius: inherit;" src="/assets/android-central.png" alt="Android Central logo"></div>
              </div>
              <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5>Material is an Android (and Google) podcast you should listen to</h5>
                <p>One of our favorites is Material. Hosted by Andy Ihnatko (of Chicago Sun-Times fame and a regular on the TWiT network), Russell Ivanovic (of a little app called Pocket Casts) and designer Yasmine Evjen, you're going to get a whole lot of talk about Google and Android on a whole, and Material Design as a way of life.
                  <a href="http://www.androidcentral.com/material-android-and-google-podcast-you-should-listen">Read at Android Central</a>.</p>
                </div>
              </div>
              <div class="mdl-card__actions ">
                <a href="http://hiyasmine.com/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" target="_blank">Read articles I've been featured in <i class="material-icons" style="font-size: 14px;">open_in_new</i></a>
              </div>

            </div>
          </section>
        </div>

        <section class="section--footer mdl-color--white mdl-grid">
          <div class="section__circle-container mdl-cell mdl-cell--1-col">
            <div class="section__circle-container__circle section__circle--big"><a target="_blank" href="https://twitter.com/YasmineEvjen/status/613192957332553732"><img style="width: 100%; border-radius: inherit;" src="/assets/Twitter_Logo_Blue.png" alt="Twitter logo"></a></div>
          </div>
          <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone">
            <h5>User Testing</h5>
            <div class="mdl-cell--hide-phone">
              <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">User Testing our site, created to bring STEM awareness to Latinos. <a href="http://t.co/ZiXIsiwqFc">pic.twitter.com/ZiXIsiwqFc</a></p>&mdash; Yasmine Evjen (@YasmineEvjen) <a href="https://twitter.com/YasmineEvjen/status/613192957332553732">June 23, 2015</a></blockquote>
            </div>

            <!--Phone-->
            <div class="mdl-cell--hide-tablet mdl-cell--hide-desktop tweet">
              <p><a href="http://t.co/ZiXIsiwqFc"><img src="assets/user-testing.png" style="width: 100%; border-radius: 3px;"></a></p>
              <p>User Testing our site, created to bring STEM awareness to Latinos.</p>
              <p>&mdash; <a href="https://twitter.com/YasmineEvjen/status/613192957332553732">@YasmineEvjen</a></p>
            </div>
            <!--End Phone-->
          </div>
          <div class="section__circle-container mdl-cell mdl-cell--1-col">
            <div class="section__circle-container__circle section__circle--big"><a target="_blank" href="https://twitter.com/YasmineEvjen/status/769057774508634112"><img style="width: 100%; border-radius: inherit;" src="/assets/Twitter_Logo_Blue.png" alt="Twitter logo"></a></div>
          </div>
          <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone">
            <h5>Speaking</h5>
            <div class="mdl-cell--hide-phone">
              <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Thanks for coming to <a href="https://twitter.com/GDGPhoenix">@GDGPhoenix</a>! Hope you enjoyed sketching responsive UI patterns &amp; learning about instant apps! <a href="https://t.co/RVtFcGwrfo">pic.twitter.com/RVtFcGwrfo</a></p>&mdash; Yasmine Evjen (@YasmineEvjen) <a href="https://twitter.com/YasmineEvjen/status/769057774508634112">August 26, 2016</a></blockquote>
            </div>
            <!--Phone-->
            <div class="mdl-cell--hide-tablet mdl-cell--hide-desktop tweet">
              <p><a href="https://t.co/RVtFcGwrfo"><img src="assets/speaking-gdg.png" style="width: 100%; border-radius: 3px;"></a></p>
              <p>Thanks for coming to <a href="https://twitter.com/GDGPhoenix">@GDGPhoenix</a>! Hope you enjoyed sketching responsive UI patterns &amp; learning about instant apps!</p>
              <p>&mdash; <a href="https://twitter.com/YasmineEvjen/status/769057774508634112">@YasmineEvjen</a></p>
            </div>
            <!--End Phone-->
          </div>
        </section>
