---
layout: default
---

  <div class="mdl-layout__tab-panel is-active" id="about">
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
      <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
        <img style="width: 75%; border-radius: 100%; margin: 20px;" src="/images/YasmineEvjen-square.jpg" alt="Yasmine Evjen photo">
      </header>
      <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__supporting-text">
          <h4>Design Advocate | Product Storyteller</h4>
          <p>Hi, I’m Yasmine Evjen, a <strong><a href="https://twitter.com/i/moments/843697996822806528" target="_blank">Design Advocate</a></strong> at Google. I help designers create human-centered experiences across Google’s platforms. Follow me on <strong><a href="https://yt.be/centered" target="_blank">Centered</a></strong>, as I explore the intersection of design, product, and people around the world.</p>

          <a href="https://yt.be/centered" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i>&nbsp; yt.be/centered</a>
          </div>
        </div>
      </section>

    </div>
