---
layout: default
---

<main class="mdl-layout__content">
  <div class="mdl-layout__tab-panel is-active" id="overview">
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
      <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
        <img style="width: 75%; border-radius: 100%; margin: 20px;" src="/images/YasmineEvjen-square.jpg" alt="Yasmine Evjen photo">
      </header>
      <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__supporting-text">
          <h4>UX Designer | Product Storyteller</h4>
          <p>I’m a <strong>UX Designer</strong> based in Phoenix, Arizona. I believe in <a href="https://twitter.com/YasmineEvjen/status/629010100846342144" target="_blank">pen before pixel</a>, user testing, and research.

            Drawing on my extensive <strong>design</strong> and <strong>development</strong> work, I use my skills to craft the best experience for your app users and website customers. My work <strong>solves real problems</strong> by getting the best out of the <strong>technology</strong> and the <strong>people</strong> on my team.

            I can be found <strong>advocating for diversity</strong> in tech, and explaining to my daughter that Google isn't a real person. Hooked on mobile; you can hear me talk about it on <a href="https://www.relay.fm/material" target="_blank">Material Podcast</a>, a weekly show about Google and Android on Relay FM. <a href="http://hiyasmine.com/post/136360386865/2015-victories" target="_blank">I was once retweeted by First Lady Michelle Obama</a>.</p>
          </div>

        </div>
      </section>
      <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
          <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <h4 class="mdl-cell mdl-cell--12-col">Featured</h4>
            <p>Interviewed and highlighted in various publications to discuss the future of mobile, Material Design and tips for crafting the best user experience.</p>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
              <div class="section__circle-container__circle mdl-color--primary"><img style="width: 100%; border-radius: inherit;" src="/assets/greenbot.jpeg" alt="Greenbot logo"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
              <h5>We asked developers what they think about Android apps on Chrome OS</h5>
              <p>While bringing the Play Store to Chromebooks presents a lot of opportunity, in some ways it means heading back to the drawing board. <a href="http://www.greenbot.com/article/3081976/android/we-asked-developers-what-they-think-about-android-apps-on-chrome-os.html" target="_blank">Read at Greenbot</a></p>
            </div>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
              <div class="section__circle-container__circle mdl-color--primary"><img style="width: 100%; border-radius: inherit;" src="/assets/twit.png" alt="TWIT logo"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
              <h5>Native vs. Progressive Web Apps and what the risks of living in the cloud are</h5>
              <p>The All About Android crew brought me on to discuss Native vs Progressive Web Apps.
                <a href="https://twit.tv/shows/all-about-android/episodes/293" target="_blank">Listen on This Week in Tech</a>.</p>
              </div>
              <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"><img style="width: 100%; border-radius: inherit;" src="/assets/android-central.png" alt="Android Central logo"></div>
              </div>
              <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5>Material is an Android (and Google) podcast you should listen to</h5>
                <p>One of our favorites is Material. Hosted by Andy Ihnatko (of Chicago Sun-Times fame and a regular on the TWiT network), Russell Ivanovic (of a little app called Pocket Casts) and designer Yasmine Evjen, you're going to get a whole lot of talk about Google and Android on a whole, and Material Design as a way of life.
                  <a href="http://www.androidcentral.com/material-android-and-google-podcast-you-should-listen">Read at Android Central</a>.</p>
                </div>
              </div>
              <div class="mdl-card__actions ">
                <a href="http://hiyasmine.com/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" target="_blank">Read articles I've been featured in <i class="material-icons" style="font-size: 14px;">open_in_new</i></a>
              </div>

            </div>
          </section>

          <section class="section--footer mdl-color--white mdl-grid">
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
              <div class="section__circle-container__circle section__circle--big"><a target="_blank" href="https://twitter.com/YasmineEvjen/status/613192957332553732"><img style="width: 100%; border-radius: inherit;" src="/assets/Twitter_Logo_Blue.png" alt="Twitter logo"></a></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
              <h5>User Testing</h5>

              <div class="mdl-cell--hide-desktop mdl-cell--hide-tablet">
                <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">User Testing our site, created to bring STEM awareness to Latinos. <a href="http://t.co/ZiXIsiwqFc">pic.twitter.com/ZiXIsiwqFc</a></p>&mdash; Yasmine Evjen (@YasmineEvjen) <a href="https://twitter.com/YasmineEvjen/status/613192957332553732">June 23, 2015</a></blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>

              <div class="mdl-cell--hide-phone">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">User Testing our site, created to bring STEM awareness to Latinos. <a href="http://t.co/ZiXIsiwqFc">pic.twitter.com/ZiXIsiwqFc</a></p>&mdash; Yasmine Evjen (@YasmineEvjen) <a href="https://twitter.com/YasmineEvjen/status/613192957332553732">June 23, 2015</a></blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            </div>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
              <div class="section__circle-container__circle section__circle--big"><a target="_blank" href="https://twitter.com/YasmineEvjen/status/769057774508634112"><img style="width: 100%; border-radius: inherit;" src="/assets/Twitter_Logo_Blue.png" alt="Twitter logo"></a></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
              <h5>Speaking</h5>

              <div class="mdl-cell--hide-desktop mdl-cell--hide-tablet">
                <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">Thanks for coming to <a href="https://twitter.com/GDGPhoenix">@GDGPhoenix</a>! Hope you enjoyed sketching responsive UI patterns &amp; learning about instant apps! <a href="https://t.co/RVtFcGwrfo">pic.twitter.com/RVtFcGwrfo</a></p>&mdash; Yasmine Evjen (@YasmineEvjen) <a href="https://twitter.com/YasmineEvjen/status/769057774508634112">August 26, 2016</a></blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>

              <div class="mdl-cell--hide-phone">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Thanks for coming to <a href="https://twitter.com/GDGPhoenix">@GDGPhoenix</a>! Hope you enjoyed sketching responsive UI patterns &amp; learning about instant apps! <a href="https://t.co/RVtFcGwrfo">pic.twitter.com/RVtFcGwrfo</a></p>&mdash; Yasmine Evjen (@YasmineEvjen) <a href="https://twitter.com/YasmineEvjen/status/769057774508634112">August 26, 2016</a></blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            </div>
          </section>
        </div>

{% include tab-work.html %}
{% include tab-contact.html %}
